.company-container {
  display: flex;
  width: fit-content;
  margin: auto
}

.add-new-company {
  font-size: 16px;
  margin: 20px 0px;
  padding: 10px 14px;
  border-radius: 2em;
  border: 1px solid darkgray;
  box-shadow: 0px 4px 4px 0px #bbbbbb;
  height: fit-content;
}

.search-title {
  text-align: center;
  color: darkslateblue;
  margin-top: 20vh;
}

.SearchContainer {
  width: 500px;
  margin: 20px;
  position: relative;
}

.SearchContainer.SearchActive {
  border: 1px solid darkgray;
  border-radius: 1em;
  box-shadow: 0px 4px 4px 0px #c3c3c3;
  padding-bottom: 20px;
}

.box {
  position: relative;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid darkgrey;
  box-shadow: 0px 4px 4px 0px #c3c3c3;
}

.SearchContainer.SearchActive .box {
  border-radius: 0px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: none;
  border: 0px solid;
  border-bottom: 1px solid darkgrey;
}

.search-result-name {
  color: #565656;
  padding: 5px 10px;
  font-size: 14px;
}

.search-result-name:hover {
  background: #f7f7f7;
}

.no-search {
  text-align: center;
  padding: 10px;
}